.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.header__logo {
  padding-left: 20px;
  width: 100px;
  padding-bottom: 10px;
}

.header__home:hover {
   /* background-color: #d0c6b5;*/
  opacity: .5;
}
